html {
    color: white;
    font-size: 1vw; 
    font-family: "Open Sans", sans-serif;
    background-color: rgb(22, 22, 22);
}
body {
    margin: 10%
}
/* HEADER */
header {
    text-align: center;
    color: white;
}
h1 {
    font-size: 200px;
    font-family: 'Inconsolata', monospace;
}
.quote {
    font-size: 30px;
    font-family: 'The Nautigal', cursive;
}
a {
    color: inherit;
    text-decoration: none;
}
header a:hover {
    color: rgb(22, 22, 22);
    text-shadow: 1px 1px rgb(24, 202, 0);
}
.change:hover {
    color:aqua;
    text-shadow: 5px 5px rgb(225, 0, 255);
}
/* NAV BAR */
nav {
    position:fixed;
    font-size: 15px;
    top: 47%;
    right: 3%;
}
nav li {
    list-style-type: none;
}
nav a:hover {
    color: rgb(22, 22, 22);
    text-shadow: 1px 1px rgb(255, 255, 255);
}
/* MAIN */
main {
    margin: 10% 10%;
}

h2 {
    font-size: 5vw;
}
h3 {
    font-size: 2vw;
}
main a:hover { 
    color: aqua;
    color: white;
    text-shadow: 1px 1px white;
}
.self {
    float: right;
    margin-left: 10%;
    width: 50%;
    height: 50%;
}

/* Map Selector*/
label {
  font-size: 3vw;
}